 
<div id="rgnTop" region="north" class="response" style="height: 40px;">
    <div style="width: 100%;">
        <span class="title">股票名称</span>
        <input id="txtStockName" />
        <a class="button" id="btnQuery">查询</a>
    </div>
</div>
<div id="rgnCenter" region="center">
    <table id="gvList">
    <thead>
    <tr>
        <th field="S_Code" width="50">全选</th>
        <th field="Key" width="50">操作</th>
        <th field="I_CODE" width="230">股票代码</th>
        <th field="S_NAME" width="90">股票名称</th>
        <th field="M_NAME" width="90">市场名称</th>
        <th field="S_ISSUE_PRICE" width="90">发行价格</th>
        <th field="S_DATE" width="90">上市日期</th>
        <th field="ISSUER" width="90">发行机构</th>
    </tr>
    </thead>
</table>
</div>